<mat-card>
  <mat-card-title>
    @if (course) {
    {{ isCreating ? 'Create Lesson' : isEditing ? 'Edit Lesson' : lesson?.title }}
    }
  </mat-card-title>

  <mat-card-content>
    @if (isLoading) {
    <mat-spinner></mat-spinner>
    } @else if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
    } @else if (successMessage) {
    <p class="success-message">{{ successMessage }}</p>
    } @else if (course) {
    @if (isCreating || isEditing) {
    <form [formGroup]="lessonForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
        @if (lessonForm.get('title')?.invalid && (lessonForm.get('title')?.dirty || lessonForm.get('title')?.touched)) {
        <mat-error>
          @if (lessonForm.get('title')?.errors?.['required']) {
          Title is required.
          }
          @if (lessonForm.get('title')?.errors?.['minlength']) {
          Title must be at least 3 characters long.
          }
          @if (lessonForm.get('title')?.errors?.['maxlength']) {
          Title cannot be more than 100 characters long.
          }
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="content"></textarea>
        @if (lessonForm.get('content')?.invalid && (lessonForm.get('content')?.dirty ||
        lessonForm.get('content')?.touched)) {
        <mat-error>
          @if (lessonForm.get('content')?.errors?.['required']) {
          Content is required.
          }
          @if (lessonForm.get('content')?.errors?.['minlength']) {
          Content must be at least 10 characters long.
          }
        </mat-error>
        }
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting">{{ isCreating ? 'Create' :
        'Update' }}</button>
      <button mat-button type="button" (click)="cancelEdit()">Cancel</button>
    </form>
    } @else if (lesson) {
    <p>{{ lesson.content }}</p>
    @if (isOwner) {
    <button mat-raised-button color="primary" (click)="editLesson()">Edit</button>
    <button mat-raised-button color="warn" (click)="deleteLesson()">Delete</button>
    }
    }

    <button mat-button (click)="backToLessons()">Back to Lessons</button>
    }
  </mat-card-content>
</mat-card>